/* This css only for navigation bar */
.navigationBar nav{ background: #1b1b1b; height: 80px; }
.navigationBar nav ul{ float: right; margin-right: 20px; margin-bottom: 0px; }
.navigationBar nav ul li{ display: inline-block; line-height: 80px; margin: 0 5px; }
.navigationBar nav ul li a{ color: white; font-size: 18px; padding: 8px 14px; border-radius: 3px; text-transform: uppercase; }
.navigationBar .logo{ height: 60px; margin: 10px 10px 10px 40px;}
.navigationBar a.active,a:hover{ background: #6e757a; transition: .5s; text-decoration: none;}
.navigationBar .checkbtn{ font-size: 30px; color: white; float: right; line-height: 80px; margin-right: 40px; cursor: pointer; display: none; }
.navigationBar #check{ display: none; }

/*Responsivenes*/
@media (max-width: 952px){
  .navigationBar label.logo{ font-size: 30px; padding-left: 50px; }
  .navigationBar nav ul li a{ font-size: 16px; }
}
@media (max-width: 992px){

  .navigationBar .checkbtn{ display: block; }
  /* .navigationBar ul{ position: fixed; width: 100%; height: 100vh; background: #130d0a; top: 80px; left: -100%; text-align: center; transition: all .5s; z-index: 10000; } */
  .navigationBar ul{ position: fixed; width: 100%; height: 100vh; background: rgba(255, 255, 255, 0.2); /* Make sure this color has an opacity of less than 1*/
  backdrop-filter: blur(8px); /* This be the blur*/ 
  top: 80px; left: -100%; text-align: center; transition: all .5s; z-index: 10000; }

  .navigationBar nav ul li{ display: block; margin: 50px 0; line-height: 30px; }
  .navigationBar nav ul li a{ font-size: 20px; }
  .navigationBar a:hover,a.active{ background: none; color: #0082e6;}
  .navigationBar #check:checked ~ ul{ left: 0;}
}
