body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: #CCCCCC;  */
  /* background: #1E242A; */
  background-image: linear-gradient(to bottom,#101010,	#101010);


}
  body span.switcher {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    margin: 20px 0; }
    body span.switcher input {
      appearance: none;
      position: relative;
      width: 200px;
      height: 50px;
      border-radius: 25px;
      background-color: #1E1E1E;
      outline: none;
      font-family: 'Oswald', sans-serif; }
      body span.switcher input:before, body span.switcher input:after {
        z-index: 2;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #FFFFFF; }
      body span.switcher input:before {
        content: 'Xcitedu';
        left: 20px; }
      body span.switcher input:after {
        content: ' Open Source';
        right: 20px; }
    body span.switcher label {
      z-index: 1;
      position: absolute;
      top: 10px;
      bottom: 10px;
      border-radius: 20px; }
    body span.switcher.switcher-1 input {
      transition: .25s -.1s; }
      body span.switcher.switcher-1 input:checked {
        background-color: #FFFFFF; }
        body span.switcher.switcher-1 input:checked:before {
          color: #FFFFFF;
          transition: color .5s .2s; }
        body span.switcher.switcher-1 input:checked:after {
          color: #050505;
          transition: color .5s; }
        body span.switcher.switcher-1 input:checked + label {
          left: 10px;
          right: 100px;
          background: #1E1E1E;
          transition: left .5s, right .4s .2s; }
      body span.switcher.switcher-1 input:not(:checked) {
        background: #1E1E1E;
        transition: background .5s -.1s; }
        body span.switcher.switcher-1 input:not(:checked):before {
          color: #CCCCCC;
          transition: color .5s; }
        body span.switcher.switcher-1 input:not(:checked):after {
          color: #1E1E1E;
          transition: color .5s .2s; }
        body span.switcher.switcher-1 input:not(:checked) + label {
          left: 100px;
          right: 10px;
          background: #FFFFFF;
          transition: left .4s .2s, right .5s, background .35s -.1s; }
    body span.switcher.switcher-2 {
      overflow: hidden; }
      body span.switcher.switcher-2 input {
        transition: background-color 0s .5s; }
        body span.switcher.switcher-2 input:before {
          color: #1E1E1E; }
        body span.switcher.switcher-2 input:after {
          color: #FFFFFF; }
        body span.switcher.switcher-2 input:checked {
          background-color: #FFFFFF; }
          body span.switcher.switcher-2 input:checked + label {
            background: #FFFFFF;
            animation: turn-on .5s ease-out; }
@keyframes turn-on {
  0% {
    left: 100%; }
  100% {
    left: 0%; } }
        body span.switcher.switcher-2 input:not(:checked) {
          background: #1E1E1E; }
          body span.switcher.switcher-2 input:not(:checked) + label {
            background: #1E1E1E;
            animation: turn-off .5s ease-out; }
@keyframes turn-off {
  0% {
    right: 100%; }
  100% {
    right: 0%; } }
      body span.switcher.switcher-2 label {
        @import url("https://fonts.googleapis.com/css?family=Fira+Sans");
        top: 0px;
        width: 200px;
        height: 50px;
        border-radius: 25px; }
        body span.switcher.switcher-2 label html, body span.switcher.switcher-2 label body {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 100vh;
          background-color: #2A3436;
          font-family: "Fira Sans", Helvetica, Arial, sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
        body span.switcher.switcher-2 label #line {
          position: relative;
          height: 3px;
          width: 250px;
          background-color: #4D565B; }
          body span.switcher.switcher-2 label #line.right::after {
            content: '';
            position: absolute;
            left: 3px;
            height: 3px;
            background-color: #589CF7;
            animation-name: left-to-right;
            animation-duration: .4s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out; }
          body span.switcher.switcher-2 label #line.left::after {
            content: '';
            position: absolute;
            right: 3px;
            height: 3px;
            background-color: #589CF7;
            animation-name: right-to-left;
            animation-duration: .4s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out; }
@keyframes left-to-right {
  0% {
    left: 0;
    width: 0%; }
  50% {
    width: 35%; }
  100% {
    left: 100%;
    width: 0%; } }
@keyframes right-to-left {
  0% {
    right: 0;
    width: 0%; }
  50% {
    width: 35%; }
  100% {
    right: 100%;
    width: 0%; } }
          body span.switcher.switcher-2 label #line .circle-right,
          body span.switcher.switcher-2 label #line .circle-left {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 3px solid #4D565B;
            cursor: pointer;
            background-color: #2A3436;
            transition: all .3s ease;
            z-index: 5; }
          body span.switcher.switcher-2 label #line .circle-right {
            right: calc(-15px - 3px); }
            body span.switcher.switcher-2 label #line .circle-right ::after {
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              text-align: center;
              line-height: 45px;
              font-size: 1em;
              color: #2A3436; }
            body span.switcher.switcher-2 label #line .circle-right.active {
              width: 90px;
              height: 45px;
              border-radius: 10px;
              border-color: #589CF7;
              transition: all .3s ease; }
            body span.switcher.switcher-2 label #line .circle-right.show::after {
              content: 'Second';
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              text-align: center;
              line-height: 45px;
              font-size: 1em;
              color: #fff; }
          body span.switcher.switcher-2 label #line .circle-left {
            left: calc(-15px - 3px); }
            body span.switcher.switcher-2 label #line .circle-left ::after {
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              text-align: center;
              line-height: 45px;
              font-size: 1em;
              color: #2A3436; }
            body span.switcher.switcher-2 label #line .circle-left.active {
              width: 90px;
              height: 45px;
              border-radius: 10px;
              border-color: #589CF7;
              transition: all .3s ease; }
            body span.switcher.switcher-2 label #line .circle-left.show::after {
              content: 'First';
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              text-align: center;
              line-height: 45px;
              font-size: 1em;
              color: #fff; }

